/* ForgotPassword.css */

.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}

.forgot-password-card {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.forgot-password-description {
    font-size: 18px;
    color: #606770;
    margin-bottom: 20px;
}

.forgot-password-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password-button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.forgot-password-button:hover {
    background-color: #166fe0;
}

.message {
    font-size: 14px;
    color: #606770;
    margin-top: 15px;
}
