/* Estrutura da Página */
.login-page {
  display: flex; /* Exibe os elementos em flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 80vh; /* Altura da página */
  position: relative; /* Adiciona posição relativa ao contêiner */
}

.image-container {
  position: absolute; /* Permite que a imagem seja posicionada sobre o card */
  top: 140px; /* Ajuste a posição vertical da imagem */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Corrige a centralização */
}

.imglog {
  width: 150%; /* Aumenta a largura da imagem para ocupar mais espaço do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  position: relative; /* Permite que outros elementos se posicionem em relação a ela */
  left: -25%; /* Move a imagem para a esquerda se necessário */
}

/* Outros estilos */
.login-card {
  max-width: 600px; /* Define a largura máxima do card */
  padding: 20px; /* Padding interno do card */
  background-color: #fff; /* Cor de fundo do card */
  border-radius: 8px; /* Arredonda os cantos do card */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra do card */
  margin-top: 50px; /* Adiciona margem superior para evitar sobreposição com a imagem */
}

.login-description {
  text-align: center; /* Centraliza o texto horizontalmente */
  margin: 16px 0; /* Margem superior e inferior */
  color: #606770; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte */
}

.cpf-input {
  /* Estilo específico para o campo CPF */
  border: 1px solid #dddfe2;
  background-color: white; /* Fundo claro */
  color: #1c1e21;
  width: 40%;
  padding: 15px;
  font-size: 18px;
  border-radius: 9px; /* Arredonda os cantos */
  margin-bottom: 0px;
}

.password-input {
  /* Estilo específico para o campo de Senha */
  border: 1px solid #dddfe2; /* Borda vermelha */
  background-color: #fff; /* Fundo vermelho claro */
  color: #1c1e21;
  font-weight: 600 /* cor da senha */
}

  /*width: 40%; /* Largura do campo de entrada */
  /*padding: 15px; /* Aumenta o espaçamento interno */
  /*margin-bottom: 0px; /* Margem inferior */
  /*border-radius: 9px; /* Arredonda os cantos */
  /*border: 1px solid #ddd; /* Borda cinza */
  /*background-color: white; /* Cor de fundo */
  /*color: black; /* Cor do texto */
  /*font-size: 18px; /* Tamanho da fonte */

/* Mensagem de Erro */
.error-message {
  color: red; /* Cor da mensagem de erro */
  font-size: 12px; /* Tamanho da fonte da mensagem de erro */
  margin-bottom: 10px; /* Margem inferior */
}

/* Botões */
.login-button {
  background-color: #1877f2; /* Cor de fundo do botão */
  border: none; /* Remove todas as bordas */
  border-radius: 6px; /* Arredonda os cantos */
  font-size: 20px; /* Tamanho da fonte */
  line-height: 48px; /* Altura da linha para centralizar o texto verticalmente */
  padding: 0 16px; /* Padding horizontal (direita e esquerda) */
  width: 332px; /* Largura do botão */
}

.login-button-primary {
  background-color: #99EAE1; /* Cor de fundo do botão primário */
  color: black; /* Cor do texto do botão primário */
}

.login-button-primary:hover {
  background-color: #A6F1F5; /* Cor de fundo ao passar o mouse no botão primário */
}

.login-button-secondary {
  background-color: #5858ED; /* Cor de fundo do botão secundário */
  color: white; /* Cor do texto do botão secundário */
}

.login-button-secondary:hover {
  background-color: #7878F2; /* Cor de fundo ao passar o mouse no botão secundário */
}

/* Link Esqueceu a Senha */
.forgot-password {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 10px; /* Margem inferior */
  border-bottom: 2px solid #c9ccd1; /* Linha cinza embaixo */
  padding-bottom: 17px; /* Padding inferior */
}

.forgot-password a {
  color: #1877f2; /* Cor do link */
  font-size: 14px; /* Tamanho da fonte do link */
}

/* Texto do Rodapé */
.footer-text {
  font-size: 12px; /* Tamanho da fonte do texto do rodapé */
  color: #606770; /* Cor do texto do rodapé */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Margem superior */
}
