.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  min-height: 100vh; 

}

.exmed-logo {
  font-size: 1em;
  color: #555;
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 20px;
}

.form-container {
  width: 405px;
  background-color: #fff;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-top: 1px;
  flex-grow: 1;
}

.form-container h2 {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.form-container p {
  color: #606770;
  font-size: 1em;
  margin-bottom: 18px;
}

.title-line {
  width: calc(100% + 40px);
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 8px -20px;
}

.input-standard {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-standard:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
  outline: none;
}

.select-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.select-group .input-standard {
  width: 32%;
}

.input-group label {
  font-size: 0.85em;
  color: #606770;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.radio-option {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-option:hover,
.radio-option:focus-within {
  border-color: #007bff;
  background-color: #e6f7ff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.radio-option input[type="radio"] {
  margin-right: 6px;
  cursor: pointer;
  accent-color: #1877f2;
}

.info-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  margin-left: 8px;
  cursor: pointer;
}

.info-icon:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text {
  position: absolute;
  width: max-content;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1;
}

.submit-btn {
  width: 350px;
  padding: 12px;
  font-size: 1em;
  color: #333;
  background-color: #99EAE1;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto 15px auto;
}

.submit-btn:hover {
  background-color: #A6F1F5;
}

.submit-btn:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

.login-link {
  margin-top: 15px;
  font-size: 0.85em;
  color: #1877f2;
}

.login-link a {
  color: #1877f2;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.senha-strength {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #555;
}