.app2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza o formulário verticalmente */
  min-height: 80vh;
  background-color: #fff;
}
.exmed-logo2 {
  font-size: 1em;
  color: #555;
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 20px;
}

.form-container2 {
  width: 405px;
  background-color: #fff;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-top: 1px;
  /* Opcional: Adiciona espaçamento acima, se necessário */
  flex-grow: 1;
}

.form-container2 h2 {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.form-container2 p {
  color: #606770;
  font-size: 1em;
  margin-bottom: 18px;
}

.title-line2 {
  width: calc(100% + 40px);
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 8px -20px;
}

.input-standard2 {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-standard2:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
  outline: none;
}

.input-group label {
  font-size: 0.85em;
  color: #606770;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.radio-option {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-option:hover,
.radio-option:focus-within {
  border-color: #007bff;
  background-color: #e6f7ff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.radio-option input[type="radio"] {
  margin-right: 6px;
  cursor: pointer;
  accent-color: #1877f2;
}

.submit-btn2 {
  width: 350px;
  padding: 12px;
  font-size: 1em;
  color: #333;
  background-color: #99EAE1;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto 15px auto;
}

.submit-btn2:hover {
  background-color: #A6F1F5;
}

.submit-btn2:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

.login-link2 {
  margin-top: 15px;
  font-size: 0.85em;
  color: #1877f2;
}

.login-link2 a {
  color: #1877f2;
  text-decoration: none;
}

.login-link2 a:hover {
  text-decoration: underline;
}

.info-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  margin-left: 8px;
  cursor: pointer;
}

.info-icon:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text {
  position: absolute;
  width: max-content;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 1;
}