.home {
align-items: center;
text-align: center;
display: flex;
flex-direction: column;
color: black;
background-color: #ffffff;

width: auto;
height: auto;
font-size: 30px;
position: fixed;
right: 55%;
    bottom: 28%;

    
}



.preto {
text-align: center;
align-items: center;
color: black;
font-size: 70px;

}

.vermeio {
text-align: center;
align-items: center;
color: rgb(80, 214, 255);
font-size: 50px;
}

.ExmedP {
    width: 700px;
    height: 500px;
    margin-left: 40px;
    position: fixed;
    right: 15%;
    bottom: 30%;
    border-radius: 30px;
    border: 2px rgba(0, 0, 0, 0.527) solid;


}


.p {
    text-align: center;
    align-items: center;
    color: black;

}

.Seja {
    text-align: center;
    align-items: center;
    color: black;
    font-size: 20px;
    background-color: #d4d4d4;
    width: 250px;
    z-index: 1;
    transition: all 0.3s ease;
    font-size: 25px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.089);
    
}

.Seja a{
color: black;
}

.Seja:hover {
    background-color: #B1EFE8;
    color: black;
    z-index: 10;
    transform: scale(1.03);
    cursor: pointer;
    

}

