.Agendamento {
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
    
    color: black;
    background-color: #ffffff;
    padding: 5px 5px;
    width: auto;
    height: auto;
    font-size: 30px;
    position: fixed;
    bottom: 43%;
    left: 13.5%;
    right: 5%;
    z-index: 1; /* Mantém a estrutura do conteúdo */
}

.Agendamento img {
    width: 400px;
    height: 250px;
    margin-left: 40px;
    border-radius: 30px;
    border: 4px solid rgba(8, 115, 255, 0.411);
    z-index: 1;
    
}

.ExameSangues button, .Vacinacao button, .UrinaFezes button {
    font-size: 35px;
    background-color: #d4d4d4;
    border-radius: 40px;
    font-size: 30px;
    border: 2px solid rgba(8, 115, 255, 0.397);
}

.ExameSangues button{
    
    position: absolute;
    left: 5.9%;
    bottom: 73%;
    width: auto;
    z-index: 100; /* Garante que o botão fique na frente */
    
}

.Vacinacao button{
    
    position: absolute;
    left: 66.8%;
    bottom: 73%;
    width: auto;
    z-index: 100; /* Garante que o botão fique na frente */
}
.UrinaFezes button{
    
    position: absolute;
    left: 36.6%;
    bottom: 76%;
    width: auto;
    z-index: 100; /* Garante que o botão fique na frente */
}

.Agendamento img:hover {
    opacity: calc(0.7 * 1);
    border: 4px solid #B1EFE8;
    transition: all 0.3s ease;
    cursor: pointer;

}

.ExameSangues button:hover, .Vacinacao button:hover, .UrinaFezes button:hover {
    background-color: #B1EFE8;
}

