/* Centralização e estilo geral */
.BuscarResultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Estilo base para o calendário */
.BuscarResultado .react-calendar {
    width: 100%;
    max-width: 450px;
    border: 1px solid #75808b;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 5px;
}

/* Navegação do calendário */
.BuscarResultado .react-calendar__navigation button {
    background: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.BuscarResultado .react-calendar__navigation button:disabled {
    color: #b0b0b0;
}

/* Estilos para os dias do calendário */
.BuscarResultado .react-calendar__tile {
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    color: #333;
    /* Garantir que todos os dias tenham cor de texto escura */
    transition: background-color 0.2s;
}

.BuscarResultado .react-calendar__tile--active {
    background-color: #007bff;
    color: white;
}

.BuscarResultado .react-calendar__tile--now {
    background-color: #e0f0ff;
    color: #007bff;
    font-weight: bold;
}

.BuscarResultado .react-calendar__tile:hover {
    background-color: rgba(0, 123, 255, 0.2);
}

/* Dias da semana no calendário */
.BuscarResultado .react-calendar__month-view__weekdays {
    background-color: #f7f7f7;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}


.BuscarResultado .CaixaSelecaoExame {
    margin-bottom: 20px;
    
}


.BuscarResultado .CaixaDeBusca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.BuscarResultado .CaixaDeBusca input {
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    
}


.BuscarResultado .Procurar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    
}

.BuscarResultado .BotaoProcura {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.BuscarResultado .BotaoProcura:hover {
    background-color: #0056b3;
}


.BuscarResultado .Resultados {
    margin-top: 20px;
    font-weight: bold;
}

.CaixaSelecaoExame p {

    font-size: 40px;
    color: black;

}

.CaixaSelecaoExame option {
    text-align: center;
    padding: 0px;
    margin: 0px;
    
}

.BuscarResultado p {
    font-size: 30px;
    color: black;
}