.Exame {
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: #ffffff;
    padding: 10px 10px;
    width: auto;
    height: auto;
    font-size: 30px;
    z-index: 1;
  
}

.Exame h2 {
text-align: center;
flex-direction: row;
}

.botao1 {
    align-items: center;
    width: auto;
    z-index: 100;
    /* Garante que o botão fique na frente */
    flex-direction: row;
}

.botao2 {
    align-items: center;
    z-index: 100;
    
    align-items: column;
}

.Buscar img {
    width: 400px;
    height: 500px;
    margin-left: 40px;
    border-radius: 30px;
    border: 4px solid rgba(8, 115, 255, 0.411);
    z-index: 1;
}

.Agendar img {
    width: 400px;
    height: 500px;
    margin-right: 40px;
    border-radius: 30px;
    border: 4px solid rgba(8, 115, 255, 0.397);
    z-index: 1;
}

.botao1 button,
.botao2 button {
    font-size: 35px;
    background-color: #d4d4d4;
    width: auto;
    border-radius: 40px;
    font-size: 30px;
    padding: 15px 20px;
    border: 2px solid rgba(8, 115, 255, 0.397);
}

.Agendar img:hover,
.Buscar img:hover {
    border: 4px solid #B1EFE8;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.7;
    /* Aplica opacidade somente na imagem */
}

.botao1 button:hover,
.botao2 button:hover {
    background-color: #B1EFE8;
}