.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    z-index: 1000;
    border: solid 1px rgb(29, 27, 27);
    box-sizing: border-box; 
    overflow: hidden; 
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    transition: all 0.3s ease;
    padding: 5px 10px;
    
    z-index: 1;
}

.nav {
    display: flex;
    flex-wrap: wrap; 
}

.nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.089);
    background-color: #d4d4d4;
    border-radius: 45px;
    padding: 5px 30px;
    transition: all 0.3s ease;
    white-space: nowrap; 
    z-index: 1;
}


.nav a:hover {
background-color: #6ce9ffd8;
color: #ffffff;
z-index: 10;
transform: scale(1.05);

}

.logo img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    z-index: 10;
    cursor: pointer;
}





@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 15px;
    }

    .logo img {
        width: 100px;
        margin: 0 auto; 
    }

    .nav a {
        font-size: 18px;
        padding: 5px 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .logo img {
        width: 80px;
        margin-bottom: 10px;
    }

    .nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav a {
        font-size: 16px;
        padding: 10px 20px;
        margin: 5px 0;
        width: 90%; 
    }
}
