.header {
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    z-index: 1000;
    border: solid 1px rgb(29, 27, 27);
    box-sizing: border-box;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    transition: all 0.3s ease;
    padding: 5px 10px;
    z-index: 1;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.089);
    background-color: #d4d4d4;
    border-radius: 45px;
    padding: 5px 30px;
    transition: all 0.3s ease;
    white-space: nowrap;
    z-index: 1;
}

.nav a:hover {
    background-color: #B1EFE8;
    transform: scale(1.05);
}

.logo img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Responsividade */


/* Responsividade para telas de 1200px a 1919px */
@media (max-width: 1919px) and (min-width: 1800px) {
    .header {
        padding: 15px;
        width: 1919px;
    }

    .logo img {
        width: 160px;
        margin-left: 20px;
        margin-top: 6px;
        
    }

    .nav a {
        font-size: 18px;
        padding: 5px 20px;
    }
}


@media (max-width: 1800px) and (min-width: 1700px) {
    .header {
        padding: 15px;
        width: 1700px;
    }

    .logo img {
        width: 130px;
        margin-left: 20px;
        margin-top: 6px;
    }

    .nav a {
        font-size: 18px;
        padding: 5px 20px;
    }
}
@media (max-width: 1700px) and (min-width: 1600px) {
    .header {
        padding: 15px;
        width: 1600px;
    }

    .logo img {
        width: 130px;
    }

    .nav a {
        font-size: 18px;
        padding: 5px 20px;
    }
}

@media (max-width: 1600px) and (min-width: 1500px) {
    .header {
        padding: 15px;
        width: 1550px;
    }
        .logo img {
            width: 130px;
        }
    
        .nav a {
            font-size: 18px;
            padding: 5px 20px;
        }
    
    }

    @media (max-width: 1550px) and (min-width: 1490px) {
        .header {
            padding: 15px;
            width: 1490px;
        }
    
            .logo img {
                width: 130px;
            }
        
            .nav a {
                font-size: 18px;
                padding: 5px 20px;
            }
    
        }

        @media (max-width: 1489px) and (min-width: 1401px) {
            .header {
                padding: 15px;
                width: 1400px;
            }
        
                .logo img {
                    width: 130px;
                }
            
                .nav a {
                    font-size: 18px;
                    padding: 5px 20px;
                }
        
            }

        
        @media (max-width: 1400px) and (min-width: 1300px) {
            .header {
                padding: 15px;
                width: 1300px;
            }
        
                .logo img {
                    width: 130px;
                }
            
                .nav a {
                    font-size: 18px;
                    padding: 5px 20px;
                }
        
            }

            @media (max-width: 1299px) and (min-width: 1240px) {
                .header {
                    padding: 15px;
                    width: 1240px;
                }
            
                    .logo img {
                        width: 130px;
                    }
                
                    .nav a {
                        font-size: 18px;
                        padding: 5px 20px;
                    }
            
                }

                @media (max-width: 1239px) and (min-width: 1190px) {
                    .header {
                        padding: 15px;
                        width: 1190px;
                    }
                
                        .logo img {
                            width: 130px;
                            margin-left: 60px;
                        }
                    
                        .nav a {
                            font-size: 18px;
                            padding: 5px 20px;
                        }
                
                    }


@media (max-width: 1190px) and (min-width: 992px) {
    .header {
        padding: 10px;
        flex-direction: column;
    }

    .logo img {
        width: 100px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .nav {
        justify-content: center;
    }

    .nav a {
        font-size: 16px;
        padding: 5px 10px;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    .header {
        padding: 10px;
        flex-direction: column;
    }

    .logo img {
        width: 100px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav {
        justify-content: center;
    }

    .nav a {
        font-size: 16px;
        padding: 5px 10px;
    }
}


@media (max-width: 767px) and (min-width: 480px) {
    .header {
        padding: 5px;
        flex-direction: column;
    }

    .logo img {
        width: 80px;
    }

    .nav a {
        font-size: 14px;
        padding: 5px 8px;
        margin-left: 10px;
    }
}


@media (max-width: 479px) {
    .header {
        padding: 5px;
        flex-direction: column;
    }

    .logo img {
        width: 70px;
    }

    .nav a {
        font-size: 12px;
        padding: 5px 5px;
        margin-left: 5px;
    }
}
        
