.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    transition: all 0.3s ease;
    padding: 5px 10px;
    z-index: 1;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;
    border-radius: 45px;
    padding: 5px 30px;
    transition: all 0.3s ease;
    white-space: nowrap;
    z-index: 1;
}

.nav a:hover {
    background-color: #B1EFE8;
    transform: scale(1.05);
}

.logo img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Menu hamburger para telas pequenas */
.hamburger {
    display: none; /* Esconde o ícone do menu em telas grandes */
    font-size: 24px;
    cursor: pointer;
}

/* Media Query para telas médias */
@media (max-width: 1190px) {
    .header {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 100px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .nav a {
        font-size: 16px;
        padding: 5px 10px;
        margin: 5px;
    }
}

/* Media Query para telas pequenas */
@media (max-width: 767px) {
    .logo img {
        width: 80px;
    }

    .nav a {
        font-size: 14px;
        padding: 5px 8px;
    }
}

/* Menu hamburger em telas menores (exemplo: max-width de 767px) */
@media (max-width: 767px) {
    .hamburger {
        display: block; /* Mostra o menu hamburger */
        color: #000000;
    }

    .nav {
        display: none; /* Esconde o menu inicialmente */
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .nav a {
        font-size: 16px;
        padding: 10px 15px;
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }

    .nav.show {
        display: flex; /* Exibe o menu ao clicar no hamburger */
    }
}

/* Media Query para telas muito pequenas */
@media (max-width: 479px) {
    .logo img {
        width: 70px;
    }

    .nav a {
        font-size: 12px;
        padding: 5px 5px;
    }
}
